@font-face {
    font-family: MagicSchoolOne;
    src: url(/fonts/MagicSchoolOne.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.impt-text {
    font-family: MagicSchoolOne, sans-serif;
}

.container-bkgd{
    background-image: linear-gradient(rgba(168, 70, 40, 0.65), rgba(168, 70, 40, 0.65)), url(images/background.jpg);
    background-size: cover;
    height: 100vh;
    align-items: flex-start;
}

.logo img {
    cursor: pointer;
}

.simple-navbar {
    display: flex;          /* Aligjustify-conn elements in a row */
    align-items: center;
}

.simple-navbar ul {
    list-style-type: none;
}


.navbar-list li {
    margin-left: 2.5rem;
}


.navbar-list a{
    color: #fff;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5;
    background: #993333;
    color: #fff;
    cursor: pointer;
    margin-left: 5rem;
}

.btn img{
    width: 20px;
    margin-right: 10px;
}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}
