@font-face {
    font-family: MagicSchoolOne;
    src: url(/fonts/MagicSchoolOne.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container-bkgd{
    background-image: linear-gradient(rgba(168, 70, 40, 0.65), rgba(168, 70, 40, 0.65)), url(images/background.jpg);
    background-size: cover;
    background-position: center center;
    padding: 10px 8%;
}

.logo img {
    width: 5rem;
    cursor: pointer;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5;
    background: #993333;
    color: #fff;
    cursor: pointer;
}

.btn img{
    width: 20px;
    margin-right: 10px;
}

.content{
    margin-top: 14%;
    color: #fff;
    max-width: 620px;
}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}
